@using MvcOnlineEticaret.Models.Sınıflar
@model List<Personel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered"
       style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Personel Adı</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Departman</th>
        <th>Güncelle</th>
        <th>Satışlar</th>
    </tr>

    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Personelid</td>
            <td>@k.PersonelAd</td>
            <td>@k.PersonelSoyad</td>
            <td>@k.PersonelAd</td>
            <td>@k.Departman.DepartmanAd</td>
            <td>
                <a href="/Departman/DepartmanGetir/@k.Personelid"
                   class="btn btn-warning">Güncelle</a>
            </td>
            <td>
                <a href="/Departman/DepartmanDetay/@k.Personelid"
                   class="btn btn-default" style="background-color:lightcoral; color:white">Detaylar</a>
            </td>
        </tr>
    }

</table>

<a href="/Personel/PersonelEkle" class="btn btn-info">Personel Ekle</a>